<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Codename Engine Docs</title>
    <link rel="stylesheet" href="/style.css">
</head>
<header>
    <h2>Codename Engine</h2>
    <div>
        <a href="skibidi.com">API Docs</a>
        <a href="skibidi.com">Wiki</a>
        <a href="skibidi.com">Tools</a>
    </div>
</header>
<body>
    <div class="container">
        <div class="sidebar-wrapper">
            <input type="checkbox" class="sidebar-button">
            <span class="sidebar-button-front"></span>
            <div class="sidebar">
                {{ sidebar }}
            </div>
        </div>

        <div class="content">
            {{ content }}
        </div>
    </div>
</body>
</html>