<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Codename Engine Docs</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <input type="checkbox" class="sidebar-button">
        <span class="sidebar-button-front"></span>
        <div class="sidebar">
            {{ sidebar }}
        </div>

        <div class="content">
            {{ content }}
        </div>
    </div>
</body>
</html>