.label-meta {
  display: none;
}

.viewsource {
  width: 100%;
  display: inline-block;
}
.viewsource > a, .field-source {
  position: relative;
  float: right;
  padding: 0.2em 0.4em;
}

li.expando>ul {
  display: none;
}

li.expando.expanded>ul {
  display: block;
}

ul.sidebar-unordered-list {
  margin: 0 0;
}

a.treeLink {
  padding: 0;
}

.pack {
  display: none;
}

.searching .pack {
  display: inline;
}

.content a {
  text-decoration: none;
  &:hover {
    text-decoration: underline !important;
  }
}

.page-header > h1, .page-header > h4 {
  border: none !important;
  margin: 0.2em 0em;
}

.page-header > h1 {
  margin-bottom: -0.3em;
}

.page-header {
  padding-bottom: 0.5em;
  border-bottom: solid thin rgba(255, 255, 255, 0.4);
}

.fields {
  margin-top: -1.5em;
  margin-left: 20px;
  font-family: monospace;
}

.field {
  border-bottom: 1px solid #222;
}

code {
  font-family: monospace;
  color: white !important;
  padding: 0.3em;
}

.anchor > code {
  padding: 0.4em;
  font-size: 13px;
  font-family: monospace;
}

.anchor > code * {
  font-size: 13px;
  font-family: monospace;
}

.section {
  border-bottom: solid thin rgba(255, 255, 255, 0.4);
  font-size: 24px;
  padding-bottom: 5px;
}

.type-text {
  color: rgb(91, 255, 206);
}

.field > .field-source {
  opacity: 0;
  transition: opacity 0.3s;
}
.field:hover > .field-source {
  opacity: 1;
}

code.treeType {
  padding: 0;
  background-color: transparent;

  & > span {
    width: 45px;
    margin: 0;
    display: inline-block;
    text-align: center;
  }
}

span > .type, a.type, span.type {
  color: deepskyblue !important;
}

.table {
  width: 80%;
  margin-bottom: 20px;
}

table.params {
  border-left: 5px solid rgba(255, 255, 255, 0.2);
  margin-left: 20px;
}

.table-bordered {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-collapse: separate;
}

.table th,
.table td {
  padding-left: 0.3em;
  text-align: left;
  height: fit-content !important;
}

.table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;

  &:first-of-type {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

td > p {
  margin: 0.4em 0.4em;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.label {
  background: rgba(255, 255, 255, 0.1);
  margin-right: 0.5em;
  padding: 0.2em;
  font-size: 10px !important;
}

small, small > .muted, small > span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
}

.sidebar-wrapper {
  width: 30vw;
  display: inline-block;
  box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.3);
}

.sidebar {
  border: solid rgba(0, 0, 0, 0.1) 2px;
  border-top: none;
  border-left: none;
  height: calc(100vh);
  top: 0;
  position: sticky;
  overflow-y: auto;
  white-space: nowrap;
  background: var(--background-secondary-color);
}

.sidebar>ul {
  margin: unset;
}

.sidebar-unordered-list {
  background: none;
  width: 100%;
  margin-top: 0.4em;
  list-style: none;
  padding-left: 0;
  margin: 0 1em;
}

.sidebar-list-item {
  padding: 0;
  width: 100%;
  list-style: none;
  overflow: hidden;
}

.sidebar-list-item>.selected:hover:before {
  background: rgb(166, 86, 241);
}

.sidebar-list-item>.selected:before {
  background: #531a7d;
}

.sidebar-list-item>a {
  background: transparent;
}

.sidebar-button {
  display: none;
  position: fixed;
  top: 60px;
  right: 5px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.sidebar-button-front {
  display: none;
  position: absolute;
  z-index: -1;
  top: 60px;
  right: 5px;
  height: 50px;
  width: 50px;
  background: var(--background-primary-color);
  border-radius: 50%;
  fill: var(--text-color);
  box-shadow: 0 5px 5px var(--list-background-color);
}

.fields > .inherited {
  display: none;

  &.expanded {
    display: block;
  }
}

.fields .expand-button i {
  transition: rotate 0.3s;
  will-change: rotate;

  &.expanded {
    rotate: 90deg;
  }
}

.sidebar-button-front>svg {
  width: 55%;
  height: auto;
  margin: auto;
}

.sidebar-button-front>svg+svg {
  display: none;
}

@media screen and (max-width: 40.5em) {
  .content {
    background: none;
    border: none;
  }

  .sidebar-button-front {
    display: flex;
  }

  .sidebar-button {
    display: initial;
    opacity: 0;
  }

  .sidebar-wrapper {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  .sidebar {
    position: fixed;
    left: -100%;
    transition: left 0.3s ease-in-out;
  }

  .container:has(.sidebar-button:checked)>.sidebar-wrapper>.sidebar {
    left: 0%
  }

  .container:has(.sidebar-button:checked)>.sidebar-wrapper {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .sidebar-button:checked {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .container:has(.sidebar-button:checked)>.sidebar-wrapper>.sidebar-button-front>svg {
    display: none;
  }

  .container:has(.sidebar-button:checked)>.sidebar-wrapper>.sidebar-button-front>svg+svg {
    display: initial;
  }

  body:has(.sidebar-button:checked) {
    overflow: hidden;
  }
}

@media screen and (min-width: 60.5em) {
  .sidebar-wrapper {
    width: 20vw;
    display: inline-block;
  }
}

//i.fa::before {
//  position: relative;
//  left: -20px;
//  top: -13px;
//}

i.fa {
  position: relative;
  margin-right: 0.5em;
}