@use "sass:color";

.content {
    margin: 0;
    padding: 0!important;
    padding-bottom: 2em;
    text-align: center;

    >div {
        margin: 1em;
    }
}

div.compact {
    margin-top: 0.3em;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    position: relative;
    width: 100px;
    height: 100px;

    img {
        max-width: none;
        width: 100%;
        height: 100%;

        &.logo-bg {
            border-radius: 15px;
        }

        &.question {
            position: absolute;
            top: 0;
            left: 0;
            animation: rotate 1.5s infinite ease-in-out alternate;
        }
    }
}

.os-button {
    margin-left: 5px;
    margin-right: 5px;
}

.os-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.downloads {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    a span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 50.5em) {
    .container {
        width: 100%;
        overflow: hidden;
        display: block;
    }

    div.vertical-stack {
        width: 100%;
    }

    .featured-mods {
        overscroll-behavior: unset!important;
    }

    div.content {
        &.main-content {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

        &.donators {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

        &.mods {
            width: fit-content !important;
            margin: 0 !important;
        }
    }
}

@media screen and (min-width: 30.5em) {
    div.content {
        margin: 1.5em 1.5em;
        margin-right: 0;

        &.mods {
            margin: 1.5em 1.5em;
        }
    }

    img {
        max-width: 60%;
    }
}

@media screen and (max-width: 35.5em) {
    div.vertical-stack {
        width: 100%;
    }

    div.content {
        &.main-content {
            width: 100%;
        }
        &.donators {
            width: 100%;
        }
    }
}

@media screen and (min-width: 80.5em) {
    div.content {
        margin: 3em 1.5em;
        margin-right: 0;

        &.mods {
            margin: 3em 1.5em;
        }
    }

    img {
        max-width: 60%;
    }
}

@media screen and (max-width: 315px) {
    .featured-mod {
        width: 100%!important;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.content {
    flex-grow: 1;

    &.mods {
        flex-grow: 0;
        width: 565px;
        //display: table;
        padding: 0;
    }
}

.featured-mods {
    outline: solid rgb(13, 11, 16) 2px;
    outline-offset: 2px 2px;
    background: var(--list-background-color);
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    height: 530px;
    overflow-y: scroll;
    overscroll-behavior: contain;
}

.featured-mod {
    position: relative;
    width: calc(50% - 16px);
    background-color: var(--background-secondary-color);
    border: solid rgba(0, 0, 0, 0.1) 2px;
    margin: 6px;
    //will-change: transform;
    //height: min-content;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: color.adjust(#17121d, $lightness: 10%);
        //transform: scale(1.02);
    }

    img {
        max-width: 100%;
    }

    .sparkle {
        display: none;
    }

    &.premium {
        background: linear-gradient(-45deg, var(--secondary-color), var(--primary-color) 22%, var(--secondary-color) 75%);
        &:hover {
            filter: brightness(115%);
            img {
                filter: brightness(86.95652174%); // to counteract the filter above (1/1.15)
            }
            .sparkle {
                opacity: 0.6;
            }
        }

        .sparkle {
            display: initial;
            left: -5%;
            max-width: 110%;
            position: absolute;

            &.top {
                top: -5%;
            }
            &.bottom {
                bottom: -10%;
            }
        }

        .last-updated {
            color: #fff;
        }
    }


    //.sparkles {
    //    display: none;
    //}

    //&.loved .sparkles{
    //    width: 250px;
    //    display: initial;
    //    position: absolute;
    //    top: 0;
    //    left: -5;
    //}

    .card-content {
        text-align: left;
        padding: 10px;
    }

    .last-updated {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    h3 {
        display: inline;
        text-align: left;

        font-size: 1.17em;
    }

    &.long-title h3 {
        font-size: 1.0em;
    }

    &.longer-title h3 {
        font-size: 0.9em;
    }

    p {
        display: block;
        margin: 0;

        font-size: 16px;
    }

    &.long-desc p {
        font-size: 14px;
    }

    &.longer-desc p {
        font-size: 12px;
    }

    &.longerer-desc p {
        font-size: 10px;
    }
}

.placement {
    opacity: 0;
}

.featured-mod.upcoming {
    display: none;
}

// .sort-button:not(.selected) {
//     filter: brightness(70%);
// }

.sort-button.selected {
    background: var(--primary-color);
}

.last-updated {
    color: #8e7a9a;
    font-size: 0.8em;
}

.sort-buttons {
    margin: 0 !important;
}

.category-button, .order-button {
    margin-bottom: 0;
    border: solid rgba(0, 0, 0, 0.1) 2px;
    border-bottom: none;
    outline: solid rgb(13, 11, 16) 2px;
    background: var(--list-background-color);
}

.order-button {
    margin: 0.5em 0;
    padding: 0.2em;
}

.warning {
    background: #75644d;
    padding: 1px;
    border: 1px solid #fff000;

    h3 {
        margin-bottom: 0;
    }

    p {
        margin-top: 0.25em;
    }
}

.content-logo {
    width: 90%;
    margin-top: 1em;
}

.content.donators {
    padding: 1em !important;

    h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
}

.vertical-stack {
    width: 60%;
    height: min-content;
}

.donators-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.donator {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.3em!important;

    padding: 5px;
    background: #00000040;
    border: 1px solid black;

    img {
        margin: 0.3em;
    }

    &.membership {
        //background: linear-gradient(-45deg, rgba(255,193,0,1) 0%, rgba(255,227,0,1) 31%, rgba(255,247,202,1) 40%, rgba(255,227,0,1) 41%, rgba(255,189,0,1) 61%) !important;
        box-shadow: 0px 0px 10px #eed43a;
        img {
            border: 1px solid rgb(255, 197, 72);
        }
    }

    &:nth-child(1) {
        background-color: #725d2f;
        border: 1px solid rgb(215, 165, 55);
    }

    &:nth-child(2) {
        background-color: #5f5f5f;
        border: 1px solid rgb(163, 163, 163);
    }

    //&:nth-child(3) {
    //    background-color: #622b1a3e;
    //    border: 1px solid rgb(135, 68, 34);
    //}
}

.donator-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0.3em;
}