.floatingchat-donate-button {
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    -ms-border-radius: 0px!important;
    -o-border-radius: 0px!important;

    border: solid rgba(0, 0, 0, 0.2) 2px;

    opacity: 1;
    transition: opacity 0.5s;
}

.hiddenUntilReady {
    opacity: 0;
}