.floatingchat-donate-button {
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    -ms-border-radius: 0px!important;
    -o-border-radius: 0px!important;

    border: solid rgba(0, 0, 0, 0.2) 2px;

    padding: 0 10px;

    span {
        display: none;
    }

    &:hover {
        filter: brightness(140%);
        backdrop-filter: brightness(140%);

        img {
            filter: brightness(71.4285714286%); // to counteract the filter above (1/1.40)
        }
    }
}
