.sidebar-wrapper {
  width: 40vw;
  display: inline-block;
  box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.3);
}

.sidebar {
  border: solid rgba(0, 0, 0, 0.1) 2px;
  border-top: none;
  border-left: none;
  height: calc(100vh);
  top: 0;
  position: sticky;
  overflow-y: auto;
  white-space: nowrap;
  background: var(--background-secondary-color);

  > ul {
    margin: unset;
  }
}

.sidebar-unordered-list {
  background: none;
  width: 100%;
  margin-top: 0.4em;
  list-style: none;
  padding-left: 0;
  margin: 0 1em;
}

.sidebar-list-item {
  padding: 0;
  width: 100%;
  list-style: none;
  overflow: hidden;

  > {
    .selected {
      font-weight: 500;

      &:hover:before {
        background: var(--primary-color);
        filter: brightness(140%);
      }

      &:before {
        background: var(--primary-color);
      }
    }

    a {
      background: transparent;
    }
  }
}

//ul.pagination {
//  padding-bottom: 1em;
//}

ul.pagination li {
  padding: 0 0.3em;

  > a {
    line-height: 180%;
    //font-style: italic;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  > a:before {
    z-index: -1;
      position: absolute;
      left: 0;
      display: inline-block;
      content: "ff";
      color: transparent;
      width: calc(100% - 4px);
      border: unset;
      border-left: solid rgba(0, 0, 0, 0.2) 2px;
      border-right: solid rgba(0, 0, 0, 0.2) 2px;
      background: var(--primary-color);
  }

  >a:hover:before {
    filter: brightness(140%);
  }

  &:last-child {
    > a:before {
      border-bottom: solid rgba(0, 0, 0, 0.2) 2px;
    }
  }
}

.sidebar-button {
  display: none;
  position: fixed;
  top: 60px;
  right: 5px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.sidebar-button-front {
  display: none;
  position: absolute;
  z-index: -1;
  top: 60px;
  right: 5px;
  height: 50px;
  width: 50px;
  background: var(--background-primary-color);
  border-radius: 50%;
  fill: var(--text-color);
  box-shadow: 0 5px 5px var(--list-background-color);

  > svg {
    width: 55%;
    height: auto;
    margin: auto;

    + svg {
      display: none;
    }
  }
}

@media screen and (max-width: 50.5em) {
  .sidebar-button-front {
    display: flex;
  }

  .sidebar-button {
    display: initial;
    opacity: 0;
  }

  .sidebar-wrapper {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  .sidebar {
    width: 80%;
    position: fixed;
    left: -100%;
    transition: left 0.3s ease-in-out;
  }

  .container:has(.sidebar-button:checked) > .sidebar-wrapper {
    > .sidebar {
      left: 0%;
    }

    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .sidebar-button:checked {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .container:has(.sidebar-button:checked) > .sidebar-wrapper > .sidebar-button-front > svg {
    display: none;

    + svg {
      display: initial;
    }
  }

  body:has(.sidebar-button:checked) {
    overflow: hidden;
  }
}

@media screen and (min-width: 60.5em) {
  .sidebar-wrapper {
    width: 25vw;
    display: inline-block;
  }
}

i.fa::before {
  position: absolute;
  left: -20px;
  top: -13px;
}

i.fa {
  position: relative;
}

.info {
  margin-bottom: 1em;

  .written {
    font-size: 0.8em;
    color: #8e7a9a;
  }

  .last-updated {
    font-size: 0.8em;
    color: #8e7a9a;

    span {
      color: #8e7a9a;
    }
  }
}

blockquote {
  background: #ffffff1f;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
}

.info {
  position: relative;
}

.github-edit-button {
  font-size: .8em;
  position: absolute;
  top: 0;
  right: 0;

  a {
    color: #8e7a9a;
  }
}