:root {
  --primary-color: #b265bd;
  --secondary-color: #43206e;
  --background-primary-color: #2d1e32;
  --background-secondary-color: #211625;
  --list-background-color: #150e17;
  --text-color: white;
  --scrollbar-color: #302235;
  --code-background: #130d15;
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  color: var(--text-color);
  scrollbar-color: var(--scrollbar-color) var(--background-secondary-color);
}

.hide-nojs {
  display: initial;
}

.nojs .hide-nojs {
  display: none;
}