@use "root/_style-vars.scss";

a {
  color: deepskyblue;
}

.default-button {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  padding: 0.7em;
  background: var(--primary-color);
  border: solid rgba(0, 0, 0, 0.2) 2px;

  &:hover {
    filter: brightness(140%);
    backdrop-filter: brightness(140%);
  }
}

*, *::before,*::after {
  box-sizing: border-box;
}

header {
  height: 75px;
  display: flex;
  padding: 0em 2em;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3), 0px 0px 0px 2px rgba(0, 0, 0, 0.2) inset;
  justify-content: space-between;

  > {
    div {
      background: var(--background-secondary-color);
      display: flex;
    }

    h1 {
      margin: 0;
      margin-bottom: 15px;
      align-self: end;
    }

    a {
      text-wrap: nowrap;
      text-decoration: none;
      display: flex;
      align-items: center;

      >img {
        height: 40px;
        width: auto !important;
        max-width: fit-content !important;
        //max-height: 30%;
        margin-right: 0.5em;
      }
    }
  }
}

.mobile {
  display: none;
}

.desktop {
  display: initial;
}

header>div>a {
  display: flex;
  padding: 0 1vw;
  font-size: 1.2em;
  width: 76px;
  text-align: center;
  color: white;
  height: 100%;
  align-content: center;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2) inset;
  text-decoration: none;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

br {
  display: block;
  content: "";
  margin-top: 7px;
}

.header {
  position: relative;
  z-index: 5;
  background: url("img/top-bar-bg.png");
  background-position: center center;
  background-size: cover;
}

body {
  background: var(--background-primary-color);
  margin: 0 0em;
}

h1 {
  border-bottom: thin solid white;
  padding-bottom: 0.2em;
}

ul {
  list-style-type: "> ";

  &:has(li > a) {
    padding-left: 0em;
    overflow: hidden;
  }
}

li {
  padding: 0em 1em;
  width: 100%;
}

code {
  background: var(--code-background);

  &.inline-code {
    padding: 0em 0.4em;
    color: #d19a66;
    font-family: monospace;
    white-space: pre-wrap;

    &.inline-syntax {
      color: #fff;
    }

    * {
      font-family: monospace;
    }
  }
}

pre {
  &.inline-code {
    code {
      background: unset;
    }

    background: var(--code-background);
    padding: 1em;
    width: fit-content;
  }

  &.hljs code {
    background: var(--code-background);
    font-family: monospace;
    white-space: pre-wrap;

    * {
      background: var(--code-background);
      font-family: monospace;
      white-space: pre-wrap;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: auto;
}

.content {
  border: solid rgba(0, 0, 0, 0.2) 2px;
  display: block;
  background: var(--background-secondary-color);
  padding: 0 4%;
  flex-grow: 1;

  >ul:has(li a) {
    z-index: 0;
    background: var(--list-background-color);
    position: relative;
    overflow: hidden;
  }
}

li {
  >a {
    color: var(--text-color);
    z-index: 1;
    text-decoration: none;

    /*border-bottom: solid thin rgba(255, 255, 255, 0.05);*/
    display: inline-block;
    margin-right: 2em;
    width: 100%;
    padding: 0em 1em;
    line-height: 250%;

    &:before {
      z-index: -1;
      position: absolute;
      left: 0;
      display: inline-block;
      content: "Ff";
      color: transparent;
      width: calc(100% - 4px);
      border: solid rgba(0, 0, 0, 0.2) 2px;
    }
  }

  &.odd>a:before {
    background: rgba(255, 255, 255, 0.01);
  }

  >a:hover:before {
    background: rgba(255, 255, 255, 0.05);
  }
}

li:has(form) {
  width: unset;
}

#search {
  width: 100%;
}

li>form {
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 250%;
}

form input {
  color: black;
}

/*li:hover:not(:has(li:hover)) {
  background: rgba(255, 255, 255, 0.05);
}*/

img {
  max-width: 100%;
}

header {
  position: relative;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 35.5em) {
  .container {
    width: 100%;
    overflow: hidden;
  }

  .mobile {
    display: initial;
  }

  .desktop {
    display: none;
  }

  header {
    >h2 {
      display: none;
    }

    padding: 0;
    padding-left: 0.3em;
  }

  .content {
    background: none;
    border: none;
  }
}

@media screen and (min-width: 60.5em) {
  .content {
    padding: 0 5%;
    margin: 1.5em 1.5em;
  }

  img {
    max-width: 60%;
  }
}

.hljs {
  padding: 20px;
  text-wrap: wrap;
  color: #abb2bf;
  background: var(--code-background);
}

/* hljs */
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs-comment,
.hljs-quote {
  color: #5c6370 !important;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd !important;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75 !important;
}

.hljs-literal {
  color: #56b6c2 !important;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379 !important;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66 !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee !important;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b !important;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}