* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white
}

body {
  background: rgb(40, 40, 40);
  margin: 0 1em;
}

.container {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.sidebar-wrapper {
  width: fit-content;
}
.sidebar {
  height: calc(100vh);
  top: 0;
  position: sticky;
  overflow-y: auto;
  white-space: nowrap;
  margin-right: 5px;
  background: rgb(28, 28, 28);
}

.content {
  margin-left: 5px;
  background: rgb(28, 28, 28);
  padding: 0 2%;
}

.sidebar-unordered-list {
  width: 100%;
  margin-top: 0.4em;
  list-style: none;
  padding-left: 0;
}

.sidebar-list-item {
  list-style: none;
  overflow: hidden;
}

.sidebar-unordered-list {
  margin: 0 1em;
}

.sidebar-list-item>a {
  display: inline-block;
  margin-right: 2em;
  width: 100%;
  display: block;
  text-decoration: none;
  padding: 0em 1em;
  line-height:250%;
}

.sidebar-list-item>a:hover {
  background: rgba(255, 255, 255, 0.05);
}

/*li:hover:not(:has(li:hover)) {
  background: rgba(255, 255, 255, 0.05);
}*/

img {
  max-width: 100%;
}

.sidebar-button {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.sidebar-button-front {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: green;
}

@media screen and (max-width: 50.5em) {
  .sidebar-button {
    display: initial;
  }

  .sidebar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7)
  }

  .sidebar {
    display: none;
    width: max-content;
  }

  .container:has(.sidebar-button:checked) > .sidebar-wrapper > .sidebar {
    display: inherit;
  }

  ul {
    margin-top: 0;
    list-style: none;
  }

  .container {
    width: fit-content;
    overflow: hidden;
  }
}

@media screen and (min-width: 60.5em) {
  .content {
    padding: 0 5%;
    margin: 0 auto;
  }
  img {
    max-width: 60%;
  }
}

.hljs {
  padding: 20px;
  border-radius: 8px;
}

/* hljs */

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}